In [49]:
!pip install jupyterlab-autosave-on-focus-change

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting jupyterlab-autosave-on-focus-change
  Downloading jupyterlab_autosave_on_focus_change-0.1.2-py3-none-any.whl (36 kB)
Collecting jupyterlab~=3.0
  Downloading jupyterlab-3.2.8-py3-none-any.whl (8.5 MB)
     |████████████████████████████████| 8.5 MB 58.4 MB/s
Collecting jupyter-packaging<2,~=0.9
  Downloading jupyter_packaging-0.11.1-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from jupyter-packaging<2,~=0.9->jupyterlab-autosave-on-focus-change) (20.1)
Collecting deprecation
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: wheel in /opt/conda/lib/python3.7/site-packages (from jupyter-packaging<2,~=0.9->jupyterlab-autosave-on-focus-change) (0.34.2)
Requirement already satisfied: setuptools>=46.4.0 in /opt/conda/lib/python3.7/site-packages (from jupyter-packaging<2,~=0.9->jupyterlab-autosave-on-focus-change) (59.5.0)
Collecting tomlkit
  Downloading tomlkit-0.8.0-py3-none-any.whl (33 kB)
Collecting jupyterlab-server~=2.3
  Downloading jupyterlab_server-2.10.3-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 1.1 MB/s
Collecting jupyter-server~=1.4
  Downloading jupyter_server-1.13.3-py3-none-any.whl (395 kB)
     |████████████████████████████████| 395 kB 68.9 MB/s
Requirement already satisfied: jinja2>=2.1 in /opt/conda/lib/python3.7/site-packages (from jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (3.0.3)
Requirement already satisfied: tornado>=6.1.0 in /opt/conda/lib/python3.7/site-packages (from jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (6.1)
Requirement already satisfied: ipython in /opt/conda/lib/python3.7/site-packages (from jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (7.12.0)
Collecting nbclassic~=0.2
  Downloading nbclassic-0.3.5-py3-none-any.whl (25 kB)
Requirement already satisfied: jupyter-core in /opt/conda/lib/python3.7/site-packages (from jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (4.6.1)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from jinja2>=2.1->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.0.1)
Requirement already satisfied: Send2Trash in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (1.8.0)
Collecting jupyter-client>=6.1.1
  Downloading jupyter_client-7.1.1-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 76.8 MB/s
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.2.0)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (21.3.0)
Requirement already satisfied: pyzmq>=17 in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (18.1.1)
Requirement already satisfied: nbformat in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (5.0.4)
Requirement already satisfied: terminado>=0.8.3 in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.8.3)
Requirement already satisfied: websocket-client in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.59.0)
Requirement already satisfied: prometheus-client in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.7.1)
Collecting anyio<4,>=3.1.0
  Downloading anyio-3.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 811 kB/s
Requirement already satisfied: nbconvert in /opt/conda/lib/python3.7/site-packages (from jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (5.6.1)
Collecting traitlets>=5
  Downloading traitlets-5.1.1-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 1.4 MB/s
Requirement already satisfied: entrypoints>=0.2.2 in /opt/conda/lib/python3.7/site-packages (from jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.3)
Requirement already satisfied: babel in /opt/conda/lib/python3.7/site-packages (from jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.9.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.26.0)
Requirement already satisfied: json5 in /opt/conda/lib/python3.7/site-packages (from jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.9.1)
Requirement already satisfied: jsonschema>=3.0.1 in /opt/conda/lib/python3.7/site-packages (from jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (3.2.0)
Requirement already satisfied: notebook<7 in /opt/conda/lib/python3.7/site-packages (from nbclassic~=0.2->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (6.4.6)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.7/site-packages (from ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.14.1)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.7.5)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (4.4.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.1.0)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.5.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (3.0.3)
Requirement already satisfied: pexpect in /opt/conda/lib/python3.7/site-packages (from ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (4.8.0)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from packaging->jupyter-packaging<2,~=0.9->jupyterlab-autosave-on-focus-change) (1.14.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging->jupyter-packaging<2,~=0.9->jupyterlab-autosave-on-focus-change) (2.4.6)
Collecting sniffio>=1.1
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna>=2.8 in /opt/conda/lib/python3.7/site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.8)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.7/site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (4.0.1)
Requirement already satisfied: parso>=0.5.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.10->ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.5.2)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (1.5.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/conda/lib/python3.7/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.15.7)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.7/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (19.3.0)
Requirement already satisfied: nest-asyncio>=1.5 in /opt/conda/lib/python3.7/site-packages (from jupyter-client>=6.1.1->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (1.5.4)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from jupyter-client>=6.1.1->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.8.1)
Requirement already satisfied: ipykernel in /opt/conda/lib/python3.7/site-packages (from notebook<7->nbclassic~=0.2->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (5.1.4)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.1.8)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.7/site-packages (from argon2-cffi->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (21.2.0)
Requirement already satisfied: pytz>=2015.7 in /opt/conda/lib/python3.7/site-packages (from babel->jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2019.3)
Requirement already satisfied: bleach in /opt/conda/lib/python3.7/site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (4.1.0)
Requirement already satisfied: testpath in /opt/conda/lib/python3.7/site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/conda/lib/python3.7/site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.8.4)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.7/site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.7/site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (1.4.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect->ipython->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.6.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests->jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (1.26.7)
Requirement already satisfied: cffi>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (1.14.6)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.7/site-packages (from bleach->nbconvert->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (0.5.1)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.2.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.7/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.4->jupyterlab~=3.0->jupyterlab-autosave-on-focus-change) (2.19)
Installing collected packages: traitlets, sniffio, jupyter-client, anyio, jupyter-server, tomlkit, nbclassic, jupyterlab-server, deprecation, jupyterlab, jupyter-packaging, jupyterlab-autosave-on-focus-change
  Attempting uninstall: traitlets
    Found existing installation: traitlets 4.3.3
    Uninstalling traitlets-4.3.3:
      Successfully uninstalled traitlets-4.3.3
  Attempting uninstall: jupyter-client
    Found existing installation: jupyter-client 5.3.4
    Uninstalling jupyter-client-5.3.4:
      Successfully uninstalled jupyter-client-5.3.4
  Attempting uninstall: jupyterlab-server
    Found existing installation: jupyterlab-server 1.0.6
    Uninstalling jupyterlab-server-1.0.6:
      Successfully uninstalled jupyterlab-server-1.0.6
  Attempting uninstall: jupyterlab
    Found existing installation: jupyterlab 1.2.21
    Uninstalling jupyterlab-1.2.21:
      Successfully uninstalled jupyterlab-1.2.21
Successfully installed anyio-3.5.0 deprecation-2.1.0 jupyter-client-7.1.1 jupyter-packaging-0.11.1 jupyter-server-1.13.3 jupyterlab-3.2.8 jupyterlab-autosave-on-focus-change-0.1.2 jupyterlab-server-2.10.3 nbclassic-0.3.5 sniffio-1.2.0 tomlkit-0.8.0 traitlets-5.1.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
!wget https://practical-ds.s3.us-east-2.amazonaws.com/project-2-dementia/oasis_new.csv

--2022-01-12 04:45:47--  https://practical-ds.s3.us-east-2.amazonaws.com/project-2-dementia/oasis_new.csv
Resolving practical-ds.s3.us-east-2.amazonaws.com (practical-ds.s3.us-east-2.amazonaws.com)... 52.219.105.2
Connecting to practical-ds.s3.us-east-2.amazonaws.com (practical-ds.s3.us-east-2.amazonaws.com)|52.219.105.2|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38424 (38K) [text/csv]
Saving to: ‘oasis_new.csv’

oasis_new.csv       100%[===================>]  37.52K  --.-KB/s    in 0.002s

2022-01-12 04:45:47 (18.6 MB/s) - ‘oasis_new.csv’ saved [38424/38424]

In [4]:
import pandas as pd
data=pd.read_csv("oasis_new.csv")
data.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,id,EventTime
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883,0,1.640062e+09
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876,1,1.640062e+09
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046,2,1.640062e+09
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010,3,1.640062e+09
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034,4,1.640062e+09

In [6]:
dframe=data.drop(["Subject ID","MRI ID","Hand","id","EventTime"], axis=1)
dframe.head()

,Group,Visit,MR Delay,M/F,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,Nondemented,1,0,M,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,Nondemented,2,457,M,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,Demented,1,0,M,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,Demented,2,560,M,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,Demented,3,1895,M,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [7]:
from sklearn.preprocessing import OneHotEncoder
oh=OneHotEncoder(handle_unknown='ignore').fit(dframe[["Visit","M/F"]])

In [9]:
oh

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=True)

In [10]:
oh.get_feature_names(["Visit","M/F"])

array(['Visit_1', 'Visit_2', 'Visit_3', 'Visit_4', 'Visit_5', 'M/F_F',
       'M/F_M'], dtype=object)

In [12]:
one_hot_data=oh.transform(dframe[["Visit","M/F"]])
one_hot_data

<373x7 sparse matrix of type '<class 'numpy.float64'>'
	with 746 stored elements in Compressed Sparse Row format>

In [13]:
one_hot_df=pd.DataFrame(one_hot_data.toarray(),columns=oh.get_feature_names(["Visit","M/F"]))

In [14]:
one_hot_df.head()

   Visit_1  Visit_2  Visit_3  Visit_4  Visit_5  M/F_F  M/F_M
0      1.0      0.0      0.0      0.0      0.0    0.0    1.0
1      0.0      1.0      0.0      0.0      0.0    0.0    1.0
2      1.0      0.0      0.0      0.0      0.0    0.0    1.0
3      0.0      1.0      0.0      0.0      0.0    0.0    1.0
4      0.0      0.0      1.0      0.0      0.0    0.0    1.0

In [15]:
dframe[one_hot_df.columns]=one_hot_df

In [16]:
dframe.head()

,Group,Visit,MR Delay,M/F,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Visit_1,Visit_2,Visit_3,Visit_4,Visit_5,M/F_F,M/F_M
0,Nondemented,1,0,M,87,14,2.0,27.0,0.0,1987,0.696,0.883,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Nondemented,2,457,M,88,14,2.0,30.0,0.0,2004,0.681,0.876,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,Demented,1,0,M,75,12,NaN,23.0,0.5,1678,0.736,1.046,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Demented,2,560,M,76,12,NaN,28.0,0.5,1738,0.713,1.010,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,Demented,3,1895,M,80,12,NaN,22.0,0.5,1698,0.701,1.034,0.0,0.0,1.0,0.0,0.0,0.0,1.0

### Drop the cloumn

In [18]:
dframe=dframe.rename(columns={"M/F_F":"female","M/F_M":"male" })

In [19]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()

In [21]:
dframe["Group"]=LE.fit_transform(dframe["Group"])

In [22]:
dframe.head()

,Group,Visit,MR Delay,M/F,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Visit_1,Visit_2,Visit_3,Visit_4,Visit_5,female,male
0,2,1,0,M,87,14,2.0,27.0,0.0,1987,0.696,0.883,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,2,457,M,88,14,2.0,30.0,0.0,2004,0.681,0.876,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,1,0,M,75,12,NaN,23.0,0.5,1678,0.736,1.046,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,2,560,M,76,12,NaN,28.0,0.5,1738,0.713,1.010,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,3,1895,M,80,12,NaN,22.0,0.5,1698,0.701,1.034,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [23]:
dframe.drop(["Visit","M/F"], axis=1,inplace=True)

In [24]:
dframe.head()

,Group,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Visit_1,Visit_2,Visit_3,Visit_4,Visit_5,female,male
0,2,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,0,75,12,NaN,23.0,0.5,1678,0.736,1.046,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,560,76,12,NaN,28.0,0.5,1738,0.713,1.010,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,1895,80,12,NaN,22.0,0.5,1698,0.701,1.034,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [25]:
from collections import Counter
Counter(dframe["Group"])

Counter({2: 190, 1: 146, 0: 37})

In [28]:
LE.inverse_transform([0,1,2])

array(['Converted', 'Demented', 'Nondemented'], dtype=object)

In [30]:
dframe=dframe[dframe["Group"]!=0]

In [31]:
dframe.head()

,Group,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Visit_1,Visit_2,Visit_3,Visit_4,Visit_5,female,male
0,2,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,0,75,12,NaN,23.0,0.5,1678,0.736,1.046,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,560,76,12,NaN,28.0,0.5,1738,0.713,1.010,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,1895,80,12,NaN,22.0,0.5,1698,0.701,1.034,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [32]:
Counter(dframe["Group"])

Counter({2: 190, 1: 146})

In [33]:
dframe.fillna(0,inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [37]:
dframe.isna().sum()

Group       0
MR Delay    0
Age         0
EDUC        0
SES         0
MMSE        0
CDR         0
eTIV        0
nWBV        0
ASF         0
Visit_1     0
Visit_2     0
Visit_3     0
Visit_4     0
Visit_5     0
female      0
male        0
dtype: int64

In [38]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(dframe, test_size=0.2, random_state=41)
train,valid=train_test_split(train,test_size=0.25, random_state=41)

In [41]:
train.shape, test.shape, valid.shape

((201, 17), (68, 17), (67, 17))

In [45]:
train.to_csv("siva_train.csv", index=False, header=False)
valid.to_csv("siva_valid.csv", index=False, header=False)
test.to_csv("siva_test.csv", index=False, header=False)

In [46]:
!pwd

/root/Bike/siva_osis

In [23]:
!aws s3 sync  /root/Bike/siva_osis  s3://bikepr/osis/

upload: .ipynb_checkpoints/Untitled1-checkpoint.ipynb to s3://bikepr/osis/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
upload: ./siva_train.csv to s3://bikepr/osis/siva_train.csv
upload: ./siva_valid_bin.csv to s3://bikepr/osis/siva_valid_bin.csv
upload: .ipynb_checkpoints/siva_valid-checkpoint.csv to s3://bikepr/osis/.ipynb_checkpoints/siva_valid-checkpoint.csv
upload: .ipynb_checkpoints/siva_train-checkpoint.csv to s3://bikepr/osis/.ipynb_checkpoints/siva_train-checkpoint.csv
upload: .ipynb_checkpoints/Untitled-checkpoint.ipynb to s3://bikepr/osis/.ipynb_checkpoints/Untitled-checkpoint.ipynb
upload: ./Untitled.ipynb to s3://bikepr/osis/Untitled.ipynb
upload: ./lambda_function.py to s3://bikepr/osis/lambda_function.py
upload: ./siva_valid.csv to s3://bikepr/osis/siva_valid.csv
upload: ./Untitled1.ipynb to s3://bikepr/osis/Untitled1.ipynb
upload: ./code.zip to s3://bikepr/osis/code.zip
upload: ./siva_train_bin.csv to s3://bikepr/osis/siva_train_bin.csv

##Traing Job

In [2]:
import os
import boto3
import sagemaker

In [3]:
role=sagemaker.get_execution_role()
region=boto3.Session().region_name
s3_client=boto3.client("s3")

In [4]:
container=sagemaker.image_uris.retrieve("linear-learner", region)

In [5]:
container

'382416733822.dkr.ecr.us-east-1.amazonaws.com/linear-learner:1'

In [28]:
from time import gmtime, strftime
job_name=f"siva-linear-class-{strftime('%Y-%m-%d-%H-%M-%S',gmtime())}"

In [7]:
bucket = "bikepr"
prefix = "osis"

In [8]:
## https://docs.aws.amazon.com/sagemaker/latest/dg/ll_hyperparameters.html

In [29]:
Create_train_params={
                      "TrainingJobName": job_name,
                      "RoleArn": role,
                      "AlgorithmSpecification": {  
                                                  "TrainingImage": container,
                                                  "TrainingInputMode": "File"
                                                 },
    
                     "ResourceConfig":         {     "InstanceCount": 1,
                                                      "InstanceType": "ml.m5.large",
                                                      "VolumeSizeInGB": 5
                                                   },  
    
                     "StoppingCondition":       {  "MaxRuntimeInSeconds": 3600 },                                          
                                               
    
                     "HyperParameters":        { 
                                                    'binary_classifier_model_selection_criteria':'f1',
                                                    'early_stopping_patience':'3',
                                                    'early_stopping_tolerance':'0.001',
                                                    'epochs':'10',
                                                    'feature_dim':'16',
                                                    'loss':	'auto',
                                                    'mini_batch_size':'100',
                                                    'normalize_data':'true',
                                                    'normalize_label':'auto',
                                                    'num_models':	'auto',
                                                    'optimizer':'auto',
                                                    'predictor_type':	'binary_classifier',
                                                    'unbias_data':	'auto',
                                                    'unbias_label':	'auto',
                                                    'use_bias':	'true'
                                                },   
    
                       "InputDataConfig": [ 
                                              { 
                                                 "ChannelName": "train",
                                                 "CompressionType": "None",
                                                 "ContentType": "text/csv",
                                                 "DataSource": { 
                                                     
                                                       "S3DataSource": { 

                                                               "S3DataDistributionType": "FullyReplicated",
                                                               "S3DataType": "S3Prefix",
                                                               "S3Uri": "s3://bikepr/osis/siva_train_bin.csv"
                                                           
                                                                       }
                                                               },
                                              },
                           
                           
                                              { 
                                                 "ChannelName": "validation",
                                                 "CompressionType": "None",
                                                 "ContentType": "text/csv",
                                                 "DataSource": { 
                                                     
                                                       "S3DataSource": { 

                                                               "S3DataDistributionType": "FullyReplicated",
                                                               "S3DataType": "S3Prefix",
                                                               "S3Uri": "s3://bikepr/osis/siva_valid_bin.csv"
                                                           
                                                                       }
                                                                },
                                              },
                                        ],
                                                   
                       "OutputDataConfig": { "S3OutputPath": "s3://bikepr/osis/out/" },                                    
                                                            
    
}

In [26]:
client =boto3.client("sagemaker",region_name=region)

In [19]:
import pandas as pd

d = pd.read_csv("siva_valid.csv", header=None)
d.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1,504,75,13,2.0,28.0,0.5,1520,0.708,1.155,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,2,493,77,16,3.0,30.0,0.0,1820,0.768,0.964,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,525,82,15,2.0,20.0,1.0,1729,0.698,1.015,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1,642,92,12,3.0,24.0,0.5,1311,0.676,1.339,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,0,71,12,4.0,20.0,0.5,1461,0.724,1.202,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [20]:
d[0] = [x//2 for x in d[0]]

In [21]:
d.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0,504,75,13,2.0,28.0,0.5,1520,0.708,1.155,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,493,77,16,3.0,30.0,0.0,1820,0.768,0.964,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0,525,82,15,2.0,20.0,1.0,1729,0.698,1.015,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0,642,92,12,3.0,24.0,0.5,1311,0.676,1.339,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0,0,71,12,4.0,20.0,0.5,1461,0.724,1.202,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [22]:
d.to_csv("siva_valid_bin.csv", header=False, index=False)

In [30]:
client.create_training_job(**Create_train_params) # Training Job Creation

{'TrainingJobArn': 'arn:aws:sagemaker:us-east-1:855737367142:training-job/siva-linear-class-2022-01-15-12-56-40',
 'ResponseMetadata': {'RequestId': '5b80078c-a5d0-4656-902e-49df14a4cb2f',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '5b80078c-a5d0-4656-902e-49df14a4cb2f',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '112',
   'date': 'Sat, 15 Jan 2022 12:57:07 GMT'},
  'RetryAttempts': 0}}

In [46]:
import numpy as np
l = list(np.array(d.iloc[20,:]))

In [47]:
print(l)

[1.0, 1705.0, 75.0, 14.0, 3.0, 28.0, 0.0, 1507.0, 0.782, 1.1640000000000001, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0]